*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.box{
    height: 350px;
    width: 600px;
    background-color: aqua;
    border-radius: 0px 40px 0px 40px;
    padding: 10px;
     display:flex;
    align-items:flex-start;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
}
