*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.box{
    height: 100px;
    width: 100px;
    background-color:orange;
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
} 