*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.box{
    height: 200px;
    width: 500px;
    background-color: aqua;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.box input{
    height: 40px;
    width: 300px;
    border:1px solid black;
    border-radius: 10px 0px 10px 0px;
    padding-left: 30px;
    font-size: 18px;
}

.box input:focus{
    outline: none;
}

.box button{
    padding: 10px 40px;
    border-radius: 10px 0px 10px 0px;
    border:  1px solid black;
    background-color: orange;
    color: #fff;
}

.list{
    height: fit-content;
    padding: 30px 10px;
    background-color: gray;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.list-item{
    height: 60px;
    width: 100%;
    background-color: orange;
}