*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

button{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid black;
}

.box{
    height: 300px;
    width: 300px;
    background-color: orange;
    position: absolute;
    top: 60%;
    /* display: none; */
}

.open{
    display: block;
}
