*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    flex-wrap:wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card{
    height: 450px;
    width: 390px;
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:space-evenly;
    padding-left: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box{
    height: 300px;
    width: 350px;
    background-color: gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}