*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    flex-wrap:wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box{
    height: 350px;
    width: 380px;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}