*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 10px;
}

.box{
    height: 20px;
    width: 20px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
}

form{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 10px;
}