*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
}

.box{
    height: 200px;
    width: 200px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.conatiner{
    height: 500px;
    width: 500px;
    background-color: aqua;
}

div{
    padding: 8px 30px;
    border:1px solid black;
    background-color: transparent;
    border-radius: 6px;

}